In [ ]:
import numpy as np
import pandas as pd
import math
from scipy import stats
import requests

In [ ]:
stocks = pd.read_csv("sp_500_stocks.csv")
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [ ]:
def chunks(lst, n):
  for i in range(0, len(lst),n):
    yield lst[i:i+n]

symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0,len(symbol_groups)):
  symbol_strings.append(','.join(symbol_groups[i]))

my_columns = ['Tinker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']
print(symbol_strings)

['A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA', 'CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD,GIS', 'GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,MCK,MCO', 'MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,ROL,ROP', 'ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION', 'ZTS']

In [ ]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
  batch_api = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
  response = requests.get(batch_api)
  response.raise_for_status()
  if response.status_code != 204:
    data = response.json()
  for symbol in symbol_string.split(','):
    final_dataframe = final_dataframe.append(
        pd.Series([symbol,data[symbol]['quote']['latestPrice'],data[symbol]['quote']['peRatio'],'N/A'],index = my_columns),ignore_index = True)
    
final_dataframe

    Tinker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  121.79                    28.6                     N/A
1      AAL   14.99                    -3.9                     N/A
2      AAP  188.63                    20.9                     N/A
3     AAPL  150.75                   24.46                     N/A
4     ABBV  156.53                    22.1                     N/A
..     ...     ...                     ...                     ...
496    YUM  120.08                   22.29                     N/A
497    ZBH  103.32                  105.62                     N/A
498   ZBRA  304.61                   19.99                     N/A
499   ZION   51.65                    5.33                     N/A
500    ZTS  172.76                   39.41                     N/A

[501 rows x 4 columns]

In [ ]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)
final_dataframe

   Tinker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   37.16                    2.28                     N/A
1    EBAY   44.50                    2.34                     N/A
2    AMZN  114.90                    2.78                     N/A
3     NUE  111.49                       4                     N/A
4     COF  106.23                    4.14                     N/A
5     PVH   59.12                    4.15                     N/A
6       F   11.77                    4.17                     N/A
7     SYF   31.03                    4.25                     N/A
8     KSS   28.00                    4.42                     N/A
9     AIG   51.28                    4.46                     N/A
10    MPC   83.00                    4.68                     N/A
11    HPE   13.00                    4.83                     N/A
12    LYB   86.25                    5.01                     N/A
13    APA   33.20                     5.1                     N/A
14   DISH   18.41                    5.26                     N/A
15    HRB   38.78                    5.27                     N/A
16   ZION   51.65                    5.33                     N/A
17    DHI   74.27                    5.41                     N/A
18    DOW   50.93                    5.48                     N/A
19     GM   32.71                     5.5                     N/A
20    LEN   80.10                    5.51                     N/A
21    PHM   44.91                    5.55                     N/A
22      C   47.20                     5.6                     N/A
23    HPQ   31.12                     5.6                     N/A
24    IVZ   15.93                    5.67                     N/A
25     GS  302.75                    5.68                     N/A
26     CE  109.49                    5.82                     N/A
27    WBA   37.97                       6                     N/A
28    DFS  103.17                    6.08                     N/A
29    WHR  166.08                    6.26                     N/A
30   INTC   38.12                    6.34                     N/A
31    BEN   24.38                    6.49                     N/A
32    MOS   46.91                     6.6                     N/A
33     MU   59.19                    6.94                     N/A
34    LNC   47.70                    7.03                     N/A
35    KEY   17.62                    7.04                     N/A
36    SLG   46.92                    7.11                     N/A
37    UNM   32.47                    7.23                     N/A
38     WU   16.78                    7.26                     N/A
39    PRU   95.30                    7.54                     N/A
40    TSN   83.22                     7.6                     N/A
41   FANG  112.74                    7.64                     N/A
42    AIZ  175.01                    7.67                     N/A
43    FCX   27.39                    7.68                     N/A
44    CFG   35.85                     7.7                     N/A
45    MET   61.40                    7.71                     N/A
46    MRO   21.49                    7.74                     N/A
47     RF   18.79                    7.87                     N/A
48    HCA  170.43                    8.04                     N/A
49    BBY   72.45                    8.15                     N/A

In [ ]:
def portfolio_input():
  global portfolio_size
  portfolio_size = input("Enter the value of your portfolio:")

  try:
    val = float(portfolio_size)
  except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

In [ ]:
portfolio_input()

Enter the value of your portfolio:2123

In [ ]:
position_size = float(portfolio_size)/len(final_dataframe.index)
print(position_size)
for i in range(0, len(final_dataframe['Tinker'])-1):
  final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe['Price'][i])

final_dataframe

42.46

   Tinker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   37.16                    2.28                       1
1    EBAY   44.50                    2.34                       0
2    AMZN  114.90                    2.78                       0
3     NUE  111.49                       4                       0
4     COF  106.23                    4.14                       0
5     PVH   59.12                    4.15                       0
6       F   11.77                    4.17                       3
7     SYF   31.03                    4.25                       1
8     KSS   28.00                    4.42                       1
9     AIG   51.28                    4.46                       0
10    MPC   83.00                    4.68                       0
11    HPE   13.00                    4.83                       3
12    LYB   86.25                    5.01                       0
13    APA   33.20                     5.1                       1
14   DISH   18.41                    5.26                       2
15    HRB   38.78                    5.27                       1
16   ZION   51.65                    5.33                       0
17    DHI   74.27                    5.41                       0
18    DOW   50.93                    5.48                       0
19     GM   32.71                     5.5                       1
20    LEN   80.10                    5.51                       0
21    PHM   44.91                    5.55                       0
22      C   47.20                     5.6                       0
23    HPQ   31.12                     5.6                       1
24    IVZ   15.93                    5.67                       2
25     GS  302.75                    5.68                       0
26     CE  109.49                    5.82                       0
27    WBA   37.97                       6                       1
28    DFS  103.17                    6.08                       0
29    WHR  166.08                    6.26                       0
30   INTC   38.12                    6.34                       1
31    BEN   24.38                    6.49                       1
32    MOS   46.91                     6.6                       0
33     MU   59.19                    6.94                       0
34    LNC   47.70                    7.03                       0
35    KEY   17.62                    7.04                       2
36    SLG   46.92                    7.11                       0
37    UNM   32.47                    7.23                       1
38     WU   16.78                    7.26                       2
39    PRU   95.30                    7.54                       0
40    TSN   83.22                     7.6                       0
41   FANG  112.74                    7.64                       0
42    AIZ  175.01                    7.67                       0
43    FCX   27.39                    7.68                       1
44    CFG   35.85                     7.7                       1
45    MET   61.40                    7.71                       0
46    MRO   21.49                    7.74                       1
47     RF   18.79                    7.87                       2
48    HCA  170.43                    8.04                       0
49    BBY   72.45                    8.15                     N/A